:root {
	--header-presentation-fg: #fff;
	--header-presentation-bg: #0E1C28;
	--header-logo-width: 220px;
	--header-logo-height: 60px;
	--up-bg: rgba( 144, 144, 144, 0.1 );
	--up-hover: rgba( 144, 144, 144, 0.2 );
	--footer-fg: #969696;
	--footer-bg: #0e1c28;
	--common-splitter-bg: #eee;
}

@font-face {
	font-family: "SF Pro Display";
	src:
		url( "https://corsproxy.io/?url=https://borisovpub.foodpicasso.com/assets/framework/fonts/sfpro/SFProDisplay-Regular.woff2" ) format( "woff2" ),
		url( "https://corsproxy.io/?url=https://borisovpub.foodpicasso.com/assets/framework/fonts/sfpro/SFProDisplay-Regular.woff" ) format( "woff" )
	;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src:
		url( "https://corsproxy.io/?url=https://borisovpub.foodpicasso.com/assets/framework/fonts/sfpro/SFProDisplay-Medium.woff2" ) format( "woff2" ),
		url( "https://corsproxy.io/?url=https://borisovpub.foodpicasso.com/assets/framework/fonts/sfpro/SFProDisplay-Medium.woff" ) format( "woff" )
	;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src:
		url( "https://corsproxy.io/?url=https://borisovpub.foodpicasso.com/assets/framework/fonts/sfpro/SFProDisplay-Semibold.woff2" ) format( "woff2" ),
		url( "https://corsproxy.io/?url=https://borisovpub.foodpicasso.com/assets/framework/fonts/sfpro/SFProDisplay-Semibold.woff" ) format( "woff" )
	;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SF Pro Display";
	src:
		url( "https://corsproxy.io/?url=https://borisovpub.foodpicasso.com/assets/framework/fonts/sfpro/SFProDisplay-Heavy.woff2" ) format( "woff2" ),
		url( "https://corsproxy.io/?url=https://borisovpub.foodpicasso.com/assets/framework/fonts/sfpro/SFProDisplay-Heavy.woff" ) format( "woff" )
	;
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@keyframes _spinner {
	0% { transform: rotateZ( 0deg ) }
	100% { transform: rotateZ( 360deg ) }
}

.loading:after {
	content: "";
	position: relative;
	top: 3px;
	display: inline-block;
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	border: solid 2px #ccc;
	border-right-color: black;
	border-bottom-color: black;
	border-radius: 50%;
	animation: _spinner 1s infinite linear;
	vertical-align: top;
}

html {
	box-sizing: border-box;
	cursor: default;
}

body {
	font-family: "SF Pro Display", serif;
	font-weight: 400;
	transition: none;
}

*,
:after,
:before {
	margin: 0;
	padding: 0;
	border: 0;
	transition: all 150ms linear;
	box-sizing: inherit;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.layout > .content {
	flex-grow: 1;
	width: 100%;
}

.layout > .content .right {
	margin-bottom: 50px;
}

header {
	background: var( --header-presentation-bg );
	color: var( --header-presentation-fg );
	z-index: 5;
	position: sticky;
	top: 0;
}

footer {
	background: var( --footer-bg );
	color: var( --footer-fg );
}

nav .top a:hover {
	text-decoration: underline;
}

nav :is( li, h1 ) {
	font-size: 17px;
	line-height: 20px;
}

.contact:before {
	content: '';
	background: left center no-repeat;
	background-size: 22px 22px;
	padding-left: 26px;
	opacity: 0.5;
}

.contact:hover:before {
	opacity: 1;
}

.contact[href^="tel:"]:before {
	background-image: url("/@/tl.svg");
}

.contact[href^="mailto:"]:before {
	background-image: url("/@/ml.svg");
}

footer .social:before {
	margin-bottom: -3px;
}

.social-networks {
	display: flex;
	gap: 12px;
}

.social:not( [href] ) {
	display: none;
}

.social:before {
	content: "";
	display: inline-block;
	opacity: 0.5;
	width: 32px;
	height: 32px;
	background: center / contain no-repeat;
}

.social:hover:before {
	opacity: 1;
}

.social[href^="//instagram.com/"]:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M16%2022.8011C19.8817%2022.8011%2023.0284%2019.6544%2023.0284%2015.7727C23.0284%2011.891%2019.8817%208.74431%2016%208.74431C12.1183%208.74431%208.97161%2011.891%208.97161%2015.7727C8.97161%2019.6544%2012.1183%2022.8011%2016%2022.8011Z%22%20stroke%3D%22white%22%20stroke-width%3D%222.572%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M7.89847%2031.51C3.98895%2031.1419%200.858134%2028.3173%200.123307%2024.4963C-0.0411023%2023.6415%20-0.0411023%207.89561%200.123307%207.0408C0.805266%203.49469%203.546%200.793621%207.1441%200.121545C8.01146%20-0.0405964%2023.9886%20-0.0405964%2024.8559%200.121545C28.454%200.793621%2031.1947%203.49469%2031.8767%207.0408C32.0411%207.89561%2032.0411%2023.6415%2031.8767%2024.4963C31.1998%2028.0165%2028.5147%2030.6852%2024.9196%2031.411C24.4466%2031.5066%208.82496%2031.5976%207.89847%2031.5103V31.51ZM24.3831%2029.6158C27.3174%2029.1398%2029.5675%2026.9222%2030.0506%2024.0303C30.1802%2023.2556%2030.1802%208.28143%2030.0506%207.50678C29.5675%204.61487%2027.3174%202.39726%2024.3831%201.92123C23.5971%201.79348%208.40298%201.79348%207.61696%201.92123C4.6826%202.39726%202.43246%204.61487%201.94943%207.50678C1.82006%208.28143%201.82006%2023.2556%201.94943%2024.0303C2.42768%2026.8936%204.6636%2029.1195%207.55441%2029.6102C8.27333%2029.7323%2023.6338%2029.7377%2024.3831%2029.6178V29.6158ZM24.4567%209.10548C23.1327%208.84885%2022.2014%207.51301%2022.435%206.20613C22.7956%204.18797%2025.321%203.39019%2026.7841%204.83211C28.5636%206.58585%2026.93%209.58521%2024.4567%209.10548ZM25.2873%207.2265C25.8128%206.98045%2025.7753%206.2178%2025.2267%205.99182C24.6393%205.74955%2024.0931%206.32024%2024.3445%206.91306C24.4968%207.27211%2024.9017%207.40693%2025.2874%207.22638L25.2873%207.2265Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A" );
}

.social[href^="//t.me/"]:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M7.89848%2031.5101C3.98896%2031.1419%200.858127%2028.3173%200.123299%2024.4964C-0.04111%2023.6416%20-0.04111%207.89565%200.123299%207.04083C0.805259%203.49473%203.546%200.793682%207.14411%200.121606C8.01147%20-0.0405354%2023.9886%20-0.0405354%2024.8559%200.121606C28.454%200.793682%2031.1948%203.49473%2031.8767%207.04083C32.0411%207.89565%2032.0411%2023.6416%2031.8767%2024.4964C31.1998%2028.0166%2028.5148%2030.6852%2024.9196%2031.411C24.4466%2031.5066%208.82497%2031.5977%207.89848%2031.5104V31.5101ZM24.3831%2029.6159C27.3174%2029.1398%2029.5675%2026.9222%2030.0506%2024.0304C30.1801%2023.2557%2030.1801%208.28146%2030.0506%207.50681C29.5675%204.61491%2027.3174%202.39729%2024.3831%201.92126C23.5971%201.79351%208.40297%201.79351%207.61696%201.92126C4.68259%202.39729%202.43245%204.61491%201.94942%207.50681C1.82005%208.28146%201.82005%2023.2557%201.94942%2024.0304C2.42767%2026.8936%204.66358%2029.1196%207.55438%2029.6103C8.27331%2029.7324%2023.6338%2029.7377%2024.3831%2029.6179V29.6159Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20d%3D%22M8.15897%2015.5513C13.057%2013.3966%2019.3955%2010.7694%2020.2704%2010.4058C22.5655%209.4541%2023.2697%209.6365%2022.9186%2011.7441C22.6665%2013.259%2021.9388%2018.2743%2021.3589%2021.396C21.0148%2023.2472%2020.2428%2023.4666%2019.0288%2022.6658C18.445%2022.2803%2015.4983%2020.3317%2014.8587%2019.8742C14.2749%2019.4572%2013.4697%2018.9556%2014.4795%2017.9676C14.8388%2017.6157%2017.1943%2015.3666%2019.0295%2013.616C19.27%2013.386%2018.968%2013.0084%2018.6905%2013.1927C16.2169%2014.8331%2012.7873%2017.1098%2012.3508%2017.4064C11.6914%2017.8542%2011.0581%2018.0596%209.9213%2017.733C9.06235%2017.4863%208.22327%2017.1921%207.89668%2017.0798C6.63904%2016.648%206.93757%2016.0888%208.15897%2015.5513Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A" );
}

.social[href^="//facebook.com/"]:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M7.89846%2031.5099C3.98893%2031.1418%200.858134%2028.3172%200.123307%2024.4963C-0.0411024%2023.6415%20-0.0411024%207.89552%200.123307%207.04071C0.805266%203.4946%203.54598%200.79356%207.14409%200.121484C8.01145%20-0.0406575%2023.9886%20-0.0406575%2024.8559%200.121484C28.454%200.79356%2031.1947%203.4946%2031.8767%207.04071C32.0411%207.89552%2032.0411%2023.6415%2031.8767%2024.4963C31.1997%2028.0165%2028.5147%2030.6851%2024.9196%2031.4109C24.4466%2031.5065%208.82495%2031.5976%207.89846%2031.5103V31.5099ZM24.3831%2029.6158C27.3174%2029.1397%2029.5676%2026.9221%2030.0506%2024.0303C30.1801%2023.2556%2030.1801%208.28134%2030.0506%207.50669C29.5676%204.61478%2027.3174%202.3972%2024.3831%201.92117C23.5971%201.79342%208.40298%201.79342%207.61696%201.92117C4.68259%202.3972%202.43246%204.61478%201.94943%207.50669C1.82006%208.28134%201.82006%2023.2556%201.94943%2024.0303C2.42768%2026.8935%204.66358%2029.1195%207.55439%2029.6102C8.27331%2029.7323%2023.6338%2029.7376%2024.3831%2029.6178V29.6158Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M19.4883%2030.4125V20.5026H22.8149L23.312%2016.6406H19.4883V14.1743C19.4883%2013.0559%2019.799%2012.2943%2021.4017%2012.2943H23.4475V8.83857C22.4578%208.73393%2021.4632%208.6834%2020.4681%208.68721C17.519%208.68721%2015.5004%2010.4876%2015.5004%2013.7919V16.6406H12.1642V20.5026H15.5004V30.4125H19.4883Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A" );
}

.social[href^="//vk.com/"]:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M7.8985%2031.5101C3.98898%2031.1419%200.858149%2028.3173%200.123322%2024.4964C-0.0410871%2023.6416%20-0.0410871%207.89565%200.123322%207.04083C0.805281%203.49473%203.54601%200.793682%207.14412%200.121606C8.01148%20-0.0405354%2023.9886%20-0.0405354%2024.856%200.121606C28.4541%200.793682%2031.1948%203.49473%2031.8767%207.04083C32.0411%207.89565%2032.0411%2023.6416%2031.8767%2024.4964C31.1998%2028.0166%2028.5148%2030.6852%2024.9196%2031.411C24.4466%2031.5066%208.82499%2031.5977%207.8985%2031.5104V31.5101ZM24.3831%2029.6159C27.3175%2029.1398%2029.5676%2026.9222%2030.0506%2024.0304C30.1801%2023.2557%2030.1801%208.28146%2030.0506%207.50681C29.5676%204.61491%2027.3175%202.39729%2024.3831%201.92126C23.5971%201.79351%208.403%201.79351%207.61698%201.92126C4.68261%202.39729%202.43249%204.61491%201.94946%207.50681C1.82009%208.28146%201.82009%2023.2557%201.94946%2024.0304C2.42771%2026.8936%204.66361%2029.1196%207.55442%2029.6103C8.27334%2029.7324%2023.6338%2029.7377%2024.3831%2029.6179V29.6159Z%22%20fill%3D%22white%22%2F%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M24.6469%2020.4123C24.6277%2020.3706%2024.6062%2020.33%2024.5826%2020.2906C24.2544%2019.7066%2023.6257%2018.9898%2022.6986%2018.1397L22.6782%2018.1208L22.6687%2018.1113L22.6585%2018.1011H22.6483C22.2276%2017.7055%2021.9607%2017.4402%2021.8492%2017.3036C21.6451%2017.0445%2021.5996%2016.7816%2021.7111%2016.5154C21.7896%2016.3145%2022.0863%2015.8898%2022.5989%2015.2414C22.8689%2014.8976%2023.0824%2014.622%2023.241%2014.4148C24.3793%2012.9233%2024.8722%2011.9695%2024.7207%2011.5543L24.6618%2011.4577C24.6226%2011.3988%2024.5205%2011.3454%2024.3565%2011.2968C24.1916%2011.2481%2023.9813%2011.2403%2023.7246%2011.2734L20.8829%2011.2922C20.8177%2011.2761%2020.7494%2011.2778%2020.6851%2011.2972L20.5563%2011.3263L20.5069%2011.3516L20.4676%2011.3807C20.4259%2011.4082%2020.3893%2011.4428%2020.3593%2011.4827C20.3183%2011.5343%2020.2853%2011.5918%2020.2612%2011.6531C19.9511%2012.4381%2019.5994%2013.1673%2019.2046%2013.8416C18.9612%2014.2436%2018.7375%2014.5921%2018.5334%2014.8872C18.3293%2015.1824%2018.159%2015.3998%2018.0208%2015.5388C17.8827%2015.6786%2017.7579%2015.79%2017.6456%2015.8747C17.5333%2015.9587%2017.4477%2015.9948%2017.3889%2015.9815C17.3328%2015.9691%2017.2768%2015.956%2017.2209%2015.9423C17.1279%2015.8831%2017.0515%2015.8012%2016.9988%2015.7044C16.9375%2015.5863%2016.8992%2015.4576%2016.8857%2015.3253C16.868%2015.1945%2016.8565%2015.063%2016.8513%2014.9312C16.8481%2014.8213%2016.8498%2014.6643%2016.8562%2014.4641C16.863%2014.2632%2016.8665%2014.1266%2016.8665%2014.0559C16.8665%2013.8087%2016.8714%2013.5418%2016.8816%2013.2529C16.891%2012.964%2016.899%2012.7356%2016.9058%2012.5668C16.9126%2012.3988%2016.916%2012.2198%2016.916%2012.0322C16.916%2011.8438%2016.9043%2011.6963%2016.8816%2011.5895C16.8585%2011.4821%2016.8238%2011.3776%2016.7779%2011.2778C16.7353%2011.1816%2016.6647%2011.1004%2016.5754%2011.0447C16.4727%2010.9839%2016.3613%2010.9394%2016.2449%2010.9128C15.8964%2010.8351%2015.4521%2010.7935%2014.9128%2010.7872C13.6882%2010.774%2012.9032%2010.8516%2012.5539%2011.0204C12.4122%2011.0944%2012.2851%2011.1933%2012.1786%2011.3124C12.0609%2011.4545%2012.0436%2011.5322%2012.1292%2011.5456C12.524%2011.6036%2012.8043%2011.7434%2012.9683%2011.964L13.0272%2012.0809C13.0735%2012.1649%2013.1198%2012.3141%2013.1653%2012.5284C13.2117%2012.7419%2013.2415%2012.9789%2013.2541%2013.238C13.2869%2013.7113%2013.2869%2014.1172%2013.2541%2014.4547C13.2306%2014.718%2013.1994%2014.9806%2013.1606%2015.2421C13.1308%2015.4304%2013.0868%2015.5828%2013.0272%2015.6989C12.9683%2015.8167%2012.9291%2015.8873%2012.9094%2015.9133C12.8965%2015.9327%2012.8796%2015.9493%2012.8599%2015.9619C12.7747%2015.9942%2012.6842%2016.0107%2012.593%2016.0106C12.5011%2016.0106%2012.3889%2015.965%2012.2578%2015.874C12.107%2015.7656%2011.9695%2015.6399%2011.8483%2015.4993C11.6707%2015.2906%2011.5106%2015.0677%2011.3694%2014.8328C11.192%2014.5479%2011.0083%2014.2103%2010.8168%2013.8217L10.6598%2013.5391C10.5199%2013.2773%2010.3849%2013.013%2010.2547%2012.7463C10.0836%2012.3993%209.93213%2012.0633%209.80024%2011.7399C9.75579%2011.614%209.67318%2011.5051%209.56393%2011.4283L9.51446%2011.3992C9.46577%2011.3646%209.41273%2011.3366%209.3567%2011.3159C9.28339%2011.2866%209.20703%2011.2655%209.12903%2011.2531L6.4255%2011.2728C6.14918%2011.2728%205.96158%2011.334%205.86266%2011.4573L5.82343%2011.5154C5.8001%2011.564%205.78981%2011.6178%205.79357%2011.6716C5.79357%2011.7422%205.81322%2011.8301%205.85246%2011.9337C6.24091%2012.8352%206.67077%2013.7182%207.14064%2014.5799C7.60378%2015.4293%208.00726%2016.1138%208.34952%2016.6327C8.6918%2017.1508%209.04032%2017.6414%209.39592%2018.1015C9.75074%2018.5622%209.98624%2018.8574%2010.1008%2018.9869C10.2162%2019.1165%2010.3073%2019.2138%2010.3725%2019.2782L10.6197%2019.5121C10.7767%2019.6676%2011.0091%2019.8544%2011.3152%2020.071C11.6214%2020.2885%2011.9597%2020.5028%2012.3318%2020.7132C12.7409%2020.9389%2013.1769%2021.1122%2013.6294%2021.2289C14.1232%2021.3623%2014.6028%2021.4157%2015.0706%2021.3898H16.2058C16.4357%2021.3702%2016.61%2021.2988%2016.7286%2021.1756L16.7678%2021.1269C16.8015%2021.0708%2016.8263%2021.0099%2016.8416%2020.9463C16.865%2020.8662%2016.876%2020.7768%2016.876%2020.6794C16.8672%2020.4266%2016.8888%2020.1736%2016.9403%2019.9258C16.989%2019.7021%2017.0455%2019.5333%2017.1083%2019.4195C17.2%2019.2493%2017.3301%2019.1028%2017.4883%2018.9917C17.5137%2018.9788%2017.5399%2018.9675%2017.5668%2018.9581C17.7246%2018.9063%2017.9106%2018.9565%2018.1242%2019.1088C18.3385%2019.2611%2018.5394%2019.4494%2018.727%2019.6732C18.9146%2019.8969%2019.1399%2020.1481%2019.4021%2020.4267C19.6659%2020.7062%2019.8967%2020.9135%2020.0929%2021.0493L20.2908%2021.167C20.4226%2021.244%2020.5938%2021.3162%2020.8042%2021.3805C21.0146%2021.4449%2021.199%2021.4614%2021.3568%2021.4292L23.8829%2021.3899C24.1333%2021.3899%2024.3272%2021.3491%2024.4654%2021.2683C24.6035%2021.1874%2024.6852%2021.0979%2024.7119%2021.0013C24.7387%2020.8927%2024.7406%2020.7795%2024.7175%2020.6701C24.7038%2020.5819%2024.6804%2020.4956%2024.6477%2020.4126L24.6469%2020.4123Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A" );
}

.social[href^="//tiktok.com/"]:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M7.77%2030.99c-3.85-.36-6.93-3.14-7.65-6.9-.16-.84-.16-16.33%200-17.17C.79%203.44%203.49.78%207.03.12c.85-.16%2016.56-.16%2017.41%200%203.54.66%206.24%203.32%206.91%206.8.16.84.16%2016.33%200%2017.17-.67%203.46-3.31%206.09-6.84%206.8-.47.09-15.83.18-16.74.1zm16.21-1.86c2.88-.47%205.1-2.65%205.57-5.5.13-.76.13-15.49%200-16.25-.47-2.84-2.69-5.02-5.57-5.49-.77-.13-15.72-.13-16.49%200-2.88.47-5.1%202.65-5.57%205.49-.13.76-.13%2015.49%200%2016.25.47%202.82%202.67%205.01%205.51%205.49.71.12%2015.81.13%2016.55.01z%22%2F%3E%3Cpath%20d%3D%22M16.16%205.79c1.06-.01%202.12-.01%203.17-.02.07%201.24.51%202.49%201.41%203.37.91.91%202.19%201.33%203.45%201.47v3.27c-1.15-.04-2.31-.28-3.37-.77-.47-.21-.91-.49-1.35-.77-.01%202.36.01%204.71-.02%207.07a6.122%206.122%200%200%201-1.22%203.41%206.022%206.022%200%200%201-3.38%202.24c-1.31.33-2.73.23-3.96-.33-1.97-.86-3.41-2.82-3.6-4.96-.01-.42-.03-.85%200-1.27.15-1.41.81-2.75%201.83-3.73%201.36-1.32%203.37-1.98%205.24-1.63.03%201.2-.02%202.4-.03%203.6-.74-.23-1.59-.19-2.28.2-.85.49-1.46%201.43-1.39%202.42-.07%201.5%201.36%202.87%202.85%202.74.84-.01%201.65-.46%202.14-1.15.21-.32.44-.67.44-1.08.06-1.15.06-2.3.05-3.44.02-3.55-.01-7.1.02-10.64z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E" );
}

.social[href^="//viber.click/"]:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M15.16%208.1c.12-.11.2-.12.61-.11.22%200%20.53.03.7.05.87.11%201.57.32%202.34.69.75.38%201.24.72%201.88%201.36.6.6.93%201.06%201.28%201.77.5.98.77%202.16.82%203.45.02.44.01.54-.09.67-.2.24-.62.2-.76-.08-.04-.09-.06-.17-.07-.52-.03-.54-.07-.89-.14-1.31-.3-1.64-1.08-2.95-2.34-3.89-1.04-.78-2.13-1.16-3.54-1.25-.48-.02-.56-.05-.67-.13-.2-.15-.21-.53-.02-.7zm3%203.24c-.5-.3-1.25-.53-1.93-.58-.25-.02-.39-.07-.48-.18a.452.452%200%200%201-.03-.57c.12-.2.33-.24.93-.14%201.53.22%202.71.93%203.49%202.08.43.65.71%201.42.8%202.24.03.29.03.84-.01.94-.03.08-.13.19-.22.24-.1.05-.31.05-.43-.01-.19-.1-.25-.26-.25-.68%200-.65-.17-1.34-.46-1.88-.33-.6-.81-1.11-1.41-1.46zm.86%203.36c-.15.14-.43.14-.6.01-.12-.09-.15-.18-.18-.44-.03-.35-.09-.59-.2-.81-.22-.48-.61-.73-1.27-.81-.31-.03-.4-.07-.5-.19a.474.474%200%200%201%20.14-.71c.1-.04.14-.05.35-.04.13.02.32.04.43.06.49.1.87.29%201.2.6.42.39.64.87.74%201.56.07.45.05.63-.11.77zm3.76%206.62c-.19.48-.91%201.38-1.42%201.77-.46.34-.78.48-1.21.49-.35.03-.5-.01-.95-.2-3.54-1.45-6.36-3.63-8.6-6.62-1.18-1.56-2.07-3.18-2.67-4.86-.36-.98-.38-1.4-.09-1.9.13-.21.67-.74%201.06-1.03.65-.48.94-.67%201.19-.72.16-.03.45%200%20.63.06.09.03.22.1.3.15.48.32%201.81%202.03%202.25%202.88.25.49.33.84.25%201.11-.08.29-.21.44-.81.92-.24.2-.47.4-.5.44-.09.14-.16.39-.16.57%200%20.42.27%201.19.63%201.77.28.46.77%201.05%201.26%201.5.58.52%201.09.88%201.67%201.17.73.36%201.18.46%201.51.31.08-.04.17-.09.2-.11.03-.03.22-.26.43-.53.41-.51.5-.6.78-.69.36-.12.72-.09%201.08.1.28.14.89.52%201.27.79.52.36%201.62%201.26%201.77%201.43.26.33.3.74.13%201.2z%22%2F%3E%3Cpath%20d%3D%22M7.77%2030.99c-3.85-.36-6.93-3.14-7.65-6.9-.16-.84-.16-16.33%200-17.17C.79%203.44%203.49.78%207.03.12c.85-.16%2016.56-.16%2017.41%200%203.54.66%206.24%203.32%206.91%206.8.16.84.16%2016.33%200%2017.17-.67%203.46-3.31%206.09-6.84%206.8-.47.09-15.83.18-16.74.1zm16.21-1.86c2.88-.47%205.1-2.65%205.57-5.5.13-.76.13-15.49%200-16.25-.47-2.84-2.69-5.02-5.57-5.49-.77-.13-15.72-.13-16.49%200-2.88.47-5.1%202.65-5.57%205.49-.13.76-.13%2015.49%200%2016.25.47%202.82%202.67%205.01%205.51%205.49.71.12%2015.81.13%2016.55.01z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E" );
}

.social[href^="//wa.me/"]:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M21.35%2017.63c-.04-.03-1.82-.9-2.13-1.01-.41-.15-.74-.14-1.01.27-.08.11-.88%201.13-.95%201.13-.84%200-3.82-2.72-3.94-3.37%200%200%20.71-.84.83-1.09.16-.32.19-.54.02-.86-.04-.08-.79-1.89-.87-2.08-.19-.46-.45-.67-.8-.67-.42%200-1.26.17-1.61.38-.42.27-1.14%201.12-1.14%202.63%200%201.35.86%202.63%201.23%203.11%200%20.01.03.04.05.08%201.4%202.05%203.17%203.58%204.95%204.3%201.14.45%202.25.85%203.48.73.81-.08%201.99-.77%202.27-1.56.24-.65.3-1.36.15-1.62-.11-.17-.29-.26-.53-.37zm-5.61%207.26c-1.86%200-3.66-.53-5.21-1.55a.296.296%200%200%200-.26-.04L7.1%2024.31l1.03-3.01c.03-.1.01-.2-.05-.29a9.238%209.238%200%200%201-1.8-5.5c0-5.17%204.25-9.38%209.46-9.38%205.21%200%209.45%204.21%209.45%209.38%200%205.17-4.24%209.38-9.45%209.38z%22%2F%3E%3Cpath%20d%3D%22M7.77%2030.99c-3.85-.36-6.93-3.14-7.65-6.9-.16-.84-.16-16.33%200-17.17C.79%203.44%203.49.78%207.03.12c.85-.16%2016.56-.16%2017.41%200%203.54.66%206.24%203.32%206.91%206.8.16.84.16%2016.33%200%2017.17-.67%203.46-3.31%206.09-6.84%206.8-.47.09-15.83.18-16.74.1zm16.21-1.86c2.88-.47%205.1-2.65%205.57-5.5.13-.76.13-15.49%200-16.25-.47-2.84-2.69-5.02-5.57-5.49-.77-.13-15.72-.13-16.49%200-2.88.47-5.1%202.65-5.57%205.49-.13.76-.13%2015.49%200%2016.25.47%202.82%202.67%205.01%205.51%205.49.71.12%2015.81.13%2016.55.01z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E" );
}

.application {
	margin: 0 6px;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: 1px solid #969696;
	display: block;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: center top 4px / 17px 20px no-repeat;
}

.application:hover {
	background-color: #fff;
	border-color: #fff;
}

.application[href^="//apps.apple.com/"] {
	background-image: url( "data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2220%22%20viewBox%3D%220%200%2017%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M11.9745%200.873047C12.1094%201.95549%2011.6624%203.04475%2010.9888%203.83202C10.3149%204.61774%209.20391%205.23175%208.11034%205.1582C7.95112%204.09853%208.4933%202.9891%209.11784%202.29253C9.81257%201.50759%2010.9953%200.916305%2011.9745%200.873047ZM15.5677%207.15706C15.4142%207.24647%2013.4572%208.3868%2013.501%2010.6845C13.5531%2013.4815%2016.1204%2014.3974%2016.149%2014.4068C16.1481%2014.4098%2016.1464%2014.4154%2016.1438%2014.4231C16.0918%2014.5875%2015.7099%2015.7964%2014.8247%2017.0463C14.0226%2018.177%2013.1897%2019.3041%2011.8641%2019.3355C11.2255%2019.351%2010.7972%2019.1788%2010.3522%2019C9.88698%2018.8128%209.40299%2018.6183%208.64069%2018.6234C7.84292%2018.6285%207.34069%2018.8353%206.8567%2019.0346C6.43683%2019.2076%206.03055%2019.3747%205.45677%2019.3999C4.17645%2019.4539%203.18829%2018.196%202.36103%2017.0805C0.66615%2014.7961%20-0.649567%2010.6147%201.04202%207.77467C1.88135%206.36456%203.39768%205.465%205.05227%205.43247C5.76507%205.41457%206.45845%205.67021%207.06525%205.89398C7.5282%206.06471%207.94073%206.21688%208.27302%206.21476C8.57236%206.21279%208.97214%206.06013%209.43822%205.88213C10.1709%205.60238%2011.0672%205.25995%2011.9949%205.34233C12.6305%205.36366%2014.4165%205.57002%2015.5741%207.1533C15.5726%207.15428%2015.5704%207.15551%2015.5677%207.15706Z%22%20fill%3D%22%23969696%22%2F%3E%0A%3C%2Fsvg%3E%0A" );
}

.application[href^="//play.google.com/"] {
	background-image: url( "data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2217%22%20viewBox%3D%220%200%2016%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M9.23264%208.35829L2.46512%2016.6584C1.45147%2016.6454%200.770511%2015.8143%200.769561%2014.5814L0.777215%202.20768C0.77807%200.963278%201.46881%200.12847%202.49677%200.128971C2.50791%200.1291%202.51934%200.131779%202.53053%200.134455C2.54076%200.136881%202.55124%200.139309%202.56134%200.139744L9.23264%208.35829ZM12.6027%205.62314L14.4508%206.69283C15.2047%207.12903%2015.6168%207.73475%2015.6165%208.40112C15.6162%209.06756%2015.202%209.67623%2014.4479%2010.1106L12.6416%2011.1524L10.3729%208.3581L12.6027%205.62314ZM11.8258%205.17712L4.22061%200.777945L9.8039%207.65682L11.8258%205.17712ZM4.06262%2016.0994L9.80243%209.0579L11.8654%2011.5994L4.06262%2016.0994Z%22%20fill%3D%22%23969696%22%2F%3E%0A%3C%2Fsvg%3E" );
}

.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
}

.modal {
	position: relative;
	margin: 0 auto;
	background: #fff;
}

.modal .close {
	position: absolute;
	right: 13px;
	top: 13px;
	cursor: pointer;
	z-index: 3;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex ;
	justify-content: center;
	align-items: center;
	background: #F0F0F0;
}

main h2 {
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 13px 0;
}


.m-worktime {
	text-align: center;
}

.m-worktime .header {
	font-weight: 700;
	font-size: 24px;
	line-height: 52px;
	padding: 0 15px;
}

.m-worktime .contents {
	padding: 20px 0 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
}

.m-worktime .contents > * {
	display: flex;
}

.m-worktime .contents > * > span {
	margin: 0 10px 0 0;
	width: 50px;
}

.m-worktime .day {
	color: rgba( 0, 0, 0, 0.2 );
}

.m-worktime .d-today {
	color: #000;
}

.m-worktime .d-today:not( .d-closed ) span:first-child {
	color: #FF6500;
}

.m-worktime .d-today.d-closed {
	color: red;
}

.m-info .header {
	padding: 0 60px 0 24px;
	overflow: hidden;
	font-weight: 700;
	font-size: 22px;
	line-height: 68px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.m-info .close {
	top: 16px;
	right: 16px;
	width: 36px;
	height: 36px;
}

.m-info .close svg {
	width: 24px;
}

.m-info iframe {
	display: block;
}

.m-info ul {
	font-weight: 500;
	font-size: 14px;
	line-height: normal;
	color: rgba( 0, 0, 0, 0.5 );
}

.m-info li {
	padding: 17px 17px 16px 23px;
}

.m-info li > .contacts {
	display: flex;
	gap: 12px;
}

.m-info .social:before {
	filter: invert( 1 );
}

.m-info a[href^="tel:"] {
	padding: 8px 0;
	color: #000;
	font-weight: 600;
	font-size: 18px;
	display: block;
}

.m-info .day.today {
	display: block;
	text-align: left;
	background: none;
	border: none;
	cursor: pointer;
}

.m-info .day.today:hover {
	color: rgba( 0, 0, 0, 0.7 );
}

.m-info .day.today svg {
	position: relative;
	bottom: 2px;
	margin: 0 0 0 3px;
	transform-origin: center 45%;
}

.m-info .day.today.click svg {
	transform: rotate( 180deg );
}

.m-info .day.today + div {
	overflow: hidden;
	height: 184px;
	padding: 4px 16px 12px;
	margin: 16px 0 0 -3px;
	background: #eee;
	border-radius: 10px;
}

.m-info .day.today + div > .day {
	margin-top: 8px;
}

.m-info .day.today + div > .day > span:first-child {
	display: inline-block;
	width: 94px;
}

.m-info .day.today:not( .click ) + div {
	height: 0;
	opacity: 0;
}

.popuped .popup:has( .m-menu ) {
	background: rgba( 0, 0, 0, 0.3 );
}

.popup:has( .m-menu ) {
	transition: none;
	top: 0;
}

.popuped .m-menu {
	left: 0;
	border-radius: 0;
}

.m-menu {
	max-width: 900px;
	width: calc( 100% - 50px ) !important;
	height: 100%;
	position: absolute;
	left: -100%;
	background: #111;
	color: #fff;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	padding: 30px 30px 30px 65px;
	overflow: auto;
}

.m-menu li {
	height: 20px;
	margin: 0 0 30px;
}

.m-menu a {
	display: block;
	position: relative;
}

.m-menu .social:before {
	position: absolute;
	top: -2px;
	width: 24px;
	height: 24px;
	bottom: 0;
	margin: auto 0 auto -38px;
	opacity: 0.3;
}

.m-menu .social:hover:before {
	opacity: 1;
}

.m-menu .delivery:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2022%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M3.5%2022h17c1.95%200%203.5-1.55%203.5-3.5V2c0-1.1-.9-2-2-2H7C5.9%200%205%20.9%205%202v5H2C.9%207%200%207.9%200%209v9.5C0%2020.45%201.55%2022%203.5%2022zM2%2018.5V9h3v9.5c0%20.85-.65%201.5-1.5%201.5S2%2019.35%202%2018.5zm20%200c0%20.85-.65%201.5-1.5%201.5H6.65c.25-.45.35-1%20.35-1.5V2h15v16.5z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M10%2010h9c.55%200%201-.45%201-1V5c0-.55-.45-1-1-1h-9c-.55%200-1%20.45-1%201v4c0%20.55.45%201%201%201zm1-4h7v2h-7V6z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M10%2014h9c.55%200%201-.45%201-1s-.45-1-1-1h-9c-.55%200-1%20.45-1%201s.45%201%201%201zm0%204h6c.55%200%201-.45%201-1s-.45-1-1-1h-6c-.55%200-1%20.45-1%201s.45%201%201%201z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E" );
}

.m-menu .info:before {
	background-image: url( "data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2021%2021%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M9.49219%202C5.62619%202%202.49219%205.13401%202.49219%209C2.49219%2012.866%205.62619%2016%209.49219%2016C13.3582%2016%2016.4922%2012.866%2016.4922%209C16.4922%205.13401%2013.3582%202%209.49219%202ZM0.492188%209C0.492188%204.02944%204.52162%200%209.49219%200C14.4628%200%2018.4922%204.02944%2018.4922%209C18.4922%2013.9706%2014.4628%2018%209.49219%2018C4.52162%2018%200.492188%2013.9706%200.492188%209Z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M10.4922%208H8.49219V14H10.4922V8Z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M10.4922%204H8.49219V6H10.4922V4Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E" );
	background-position: 1px 2px;
}