
* {
	margin: 0;
	padding: 0;
	border: 0;
	transition: all 0.1s linear;
}

html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	display: inline-block;
}

a:hover {
	text-decoration: underline;
}

header {
	width: 100%;
	height: 100%;
	position: relative;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}

header a {
	color: #fff;
}

header a:hover {
	text-decoration: none;
}

header ul {
	font-size: 0;
	margin: 10px;
}

header ul * {
	display: inline-block;
	font-size: 20px;
	text-align: center;
}

header ul li {
	padding: 10px;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	background: #333;
}

h1, h2, #warning {
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
	text-transform: uppercase;
}

h1 {
	display: inline-block;
	text-align: center;
	font-size: 60px;
	width: 600px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -300px, -70px );
	filter: drop-shadow( 0 0 15px #000 );
	white-space: normal;
}

h1 i {
	display: block;
	font-weight: normal;
	font-size: 30px;
	font-style: normal;
	color: #f90;
}

h1:before {
	content: '';
	display: block;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: rgba( 0, 0, 0, 0.5 );
	position: absolute;
	left: 50%;
	top:  50%;
	transform: translate( -150px, -150px );
	z-index: -1;
	filter: blur( 75px );
	pointer-events: none;
}

header > img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50px, -195px );
	opacity: .5;
}

#mode {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 250px;
	height: 40px;
	transform: translate( -125px, 70px );
	opacity: 0.6;
}

#mode > * {
	text-transform: none;
	line-height: 22px;
	display: none;
}

#mode >:before {
	content: '';
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #0f0;
	border-radius: 6px;
	margin-right: 6px;
	box-shadow: 0 0 6px #fff;
}

#mode.close #close {
	display: block;
}

#mode.open #open {
	display: block;
}

#close:before {
	background: #f00;
}

nav {
	position: absolute;
	left: 0;
	top: 0;
}

nav a {
	width: 90px;
	height: 40px;
	line-height: 40px;
}

#menu {
	background: #2b6b14;
}

#beer {
	background: #c05625;
}

#menu:hover {
	background: rgba( 58, 145, 27, 0.5 );
}

#beer:hover {
	background: rgba( 192, 86, 37, 0.5 );
}

#lang {
	position: absolute;
	right: 0;
	top: 0;
}

#lang li > * {
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #334;
}

#lang a {
	background: #44a;
}

#lang a:hover {
	background: #335;
}

#social {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX( -100px );
}

#social * {
	font-size: 0;
}

#tel,
#social a {
	border-radius: 20px;
	border: 2px solid #fff;
	filter: drop-shadow( 0 0 15px rgba( 0, 0, 0, 0.8 ) );
}

#social a * {
	padding: 3px;
}

#social a:hover,
#tel a:hover {
	background-color: rgba( 255, 255, 255, 0.3 );
}

#tel {
	position: absolute;
	bottom: 50px;
	right: 50px;
	width: 36px;
	height: 36px;
	margin: 20px;
	overflow: hidden;
}

#tel:hover {
	height: 72px;
	width: 230px;
}

#tel * {
	padding: 0;
}

#tel > * {
	display: block;
}

#tel a {
	padding: 0 8px 0 36px;
	height: 36px;
	line-height: 36px;
	background: left top no-repeat;
	background-size: 36px 36px;
}

#tel :first-child a {
	background-image: url( "/@/tl.svg" );
}

main {
	text-align: center;
	/*height: 100%;*/
}

main a {
	color: #05f;
}

article {
	display: inline-grid;
	max-width: 1000px;
	text-align: left;
	grid-template-columns: minmax( 580px, 70% ) minmax( 0, 30% );
}

main h2 {
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 40px 20px;
	font-size: 40px;
	font-weight: normal;
}

main h2:after {
	content: '';
	display: block;
	height: 2px;
	width: 35%;
	min-width: 250px;
	background: #555;
}

main div[itemprop="text"] {
	padding-bottom: 24px;
}

main p {
	margin: 10px 20px 30px 20px;
}

main img {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover;
}

footer {
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: 100%;*/
	text-align: center;
	background: #333;
	color: #ddd;
}

footer iframe {
	margin: 5px 0;
	background: #333;
}

footer > section {
	max-width: 1000px;
	display: inline-grid;
	grid-template-columns: minmax( 220px, 25% ) minmax( 195px, 20% ) auto;
}

footer> section > div {
	padding: 10px;
}

#contacts {
}

#registry {
	font-size: 11px;
}

#warning {
	padding: 20px;
	vertical-align: middle;
	font-size: 30px;
	grid-column-start: 1;
	grid-column-end: 4;
	color: #888;
}

footer a {
	background: left center no-repeat;
	background-size: 22px 22px;
	padding-left: 26px;
	color: #fff;
}

footer a[href^="tel:"] {
	background-image: url( "/@/tl.svg" );
}

footer a[href^="mailto:"] {
	background-image: url( "/@/ml.svg" );
}

/* *************************** *
 *  WRAP
 * *************************** */

.wrap {
	height: auto;
	background: #111;
	padding: 20px 310px 20px 20px;
	width: calc( 100% - 330px );
}

.wrap h2:before {
	content: '»';
	padding: 0 5px 0 4px;
	display: inline-block;
	position: relative;
	bottom: 3px;
}

.wrap h1,
.wrap h1 *,
.wrap h2 {
	display: inline;
	font-weight: normal;
	font-style: normal;
	font-size: 30px;
	left: auto;
	top: auto;
	width: auto;
	transform: none;
	position: initial;
	filter: none;
	line-height: 40px;
	height: 40px;
	text-align: left;
}

.wrap h1:before {
	display: none;
}

.wrap h1 i {
	display: inline-block;
}

.wrap h2 {
	display: inline-block;
	color: #888;
}

.wrap nav {
	left: auto;
	right: 180px;
}


main iframe {
	padding: 10px 0;
}

/* *************************** *
 *  MEDIA
 * *************************** */

@media ( max-width: 929px ) {

	footer > section {
		grid-template-columns: 50% 50%;
	}

	#registry,
	#warning {
		grid-column-start: 1;
		grid-column-end: 3;
	}

}

@media ( max-width: 859px ) {

	.wrap {
		width: 270px;
		padding-right: calc( 100% - 290px );
	}

}

@media ( max-width: 699px ) {

	#social {
		left: 50px;
		transform: none;
	}

	article {
		display: block;
	}

	main img {
		display: none;
	}

}

@media ( max-width: 609px ) {

	.wrap {
		height: 100px;
	}

	.wrap nav {
		right: 0;
		top: 60px;
	}

}

@media ( max-width: 599px ) {

	h1 {
		font-size: 10vw;
		max-width: 100%;
		left: 0;
		transform: translate( 0, -50px );
	}

	nav li {
		display: block;
	}

	#social {
		left: 50%;
		transform: translateX( -100px );
	}

	#tel {
		left: 50%;
		bottom: 140px;
		transform: translateX( -40px );
	}

	#tel:hover {
		transform: translateX( -135px );
	}

}

@media ( max-width: 499px ) {

	nav li {
		display: block;
	}

	footer > section {
		display: inline-block;
	}

	.wrap {
		width: 45vw;
		padding-right: calc( 100% - 45vw - 20px );
		height: calc( 20px + 28vw );
	}

	.wrap #lang li {
		display: block;
	}

	.wrap nav {
		right: 13vw;
		top: 0;
	}

	.wrap h1,
	.wrap h1 *,
	.wrap h2 {
		font-size: 6vw;
		line-height: 8vw;
		height: 8vw;
	}

	.wrap nav li > *,
	.wrap #lang li > * {
		height: 8vw;
		width: 8vw;
		line-height: 8vw;
		font-size: 4vw;
	}

	.wrap nav li > * {
		width: 20vw;
	}

	.wrap ul li {
		padding: 2vw;
	}

}

@media ( max-width: 349px ) {

	#lang li {
		display: block;
	}

}

@media ( max-height: 599px ) {

	#tel,
	#social {
		bottom: 0;
	}

	#tel {
		right: 0;
	}

	header > img {
		display: none;
	}

}

@media ( max-height: 699px ) and ( max-width: 599px ){

	#social {
		bottom: 0;
	}

	#tel {
		bottom: 60px;
	}

}

@media ( max-height: 699px ) and ( max-width: 399px ) {

	header > img {
		display: none;
	}

}
